.sm_gray_btn {
    background: url('images/button_sm-gray.jpg') no-repeat center;
    width: 68px;
    height: 21px;
    font-size:10px;
    line-height: 21px;
    text-align: center;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;  
    cursor: pointer;  
}

/* link styles */
.sm_wht {
    color: #FFFFFF;
    text-decoration: none;
    font-size:12px;
    line-height:14px;
    font-weight: bold;
}
.sm_wht:hover {
    text-decoration: underline;
}

.sm_red {
    color: #CC0033;
    font-size:10px;
    line-height:13px;
    text-decoration: none;
}
.sm_red:hover {
    text-decoration: underline;
}
.sm_red:active {
    text-decoration: none;
}
.sm_red:visited {
    text-decoration: none;
}

/* main nav bar */
a.navbar {
    font-family: Verdana;
    color: #666666;
    font-size:14px;
    text-decoration: none;
}
a.navbar:visited {
    color: #666666;
    text-decoration: none;
}
a.navbar:hover {
    color: #EA7116;
    text-decoration: none;
}
a.navbar:active {
    color: #0F1E5F;
    text-decoration: none;
}
a.navbar.currentLink {
    color: #0F1E5F;
    text-decoration: none;
}

/** image rotate styles */
#fader {
    position: relative; 
    width: 776px;
    height: 333px;
}
.img_control {
    width: 30px;
    height: 30px;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    position: absolute;
    top: 285px;
    cursor: pointer;
}
#next {
    right: 20px;   
}
#prev {
    left: 20px;  
}

/* text styles */
.body_text {
    font-size:14px;
    line-height:15px;
    color: #000000;
}

.bold_sub_heading {
    font-size:16px;
    line-height:16px;
    color: #000000;
}

.sm_wht_chevron {
    color: #FFFFFF;
    text-decoration: none;
    font-size:12px;
    line-height:14px;
    font-weight: bold;
}

h3 {
font-size:18px;
padding-left: 0px;
padding-right: 0px;
padding-top: 0px;
margin-left: 10px;
}

.header_bar {
    padding-left: 10px;
    vertical-align: middle; 
    color: #FFFFFF; 
    font-size:16px; 
    line-height:19px; 
    font-family: Verdana;
}








